In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer

values = [
    "Thor eating pizza, Loki is eating pizza, Ironman ate pizza already",
    "Apple is announcing new iphone tomorrow",
    "Tesla is announcing new model-3 tomorrow",
    "Google is announcing new pixel-6 tomorrow",
    "Microsoft is announcing new surface tomorrow",
    "Amazon is announcing new eco-dot tomorrow",
    "I am eating biryani and you are eating grapes"
]

In [37]:
vectorizer = TfidfVectorizer()

transformed_vector = vectorizer.fit_transform(values)

print(vectorizer.vocabulary_)

{'thor': 25, 'eating': 10, 'pizza': 22, 'loki': 17, 'is': 16, 'ironman': 15, 'ate': 7, 'already': 0, 'apple': 5, 'announcing': 4, 'new': 20, 'iphone': 14, 'tomorrow': 26, 'tesla': 24, 'model': 19, 'google': 12, 'pixel': 21, 'microsoft': 18, 'surface': 23, 'amazon': 2, 'eco': 11, 'dot': 9, 'am': 1, 'biryani': 8, 'and': 3, 'you': 27, 'are': 6, 'grapes': 13}

In [38]:
all_feature_names = vectorizer.get_feature_names_out()

for word in all_feature_names:
    index = vectorizer.vocabulary_.get(word)
    print(f"{word} {vectorizer.idf_[index]}")

already 2.386294361119891
am 2.386294361119891
amazon 2.386294361119891
and 2.386294361119891
announcing 1.2876820724517808
apple 2.386294361119891
are 2.386294361119891
ate 2.386294361119891
biryani 2.386294361119891
dot 2.386294361119891
eating 1.9808292530117262
eco 2.386294361119891
google 2.386294361119891
grapes 2.386294361119891
iphone 2.386294361119891
ironman 2.386294361119891
is 1.1335313926245225
loki 2.386294361119891
microsoft 2.386294361119891
model 2.386294361119891
new 1.2876820724517808
pixel 2.386294361119891
pizza 2.386294361119891
surface 2.386294361119891
tesla 2.386294361119891
thor 2.386294361119891
tomorrow 1.2876820724517808
you 2.386294361119891

In [39]:
transformed_vector.toarray()[:2]

array([[0.24266547, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.24266547, 0.        , 0.        ,
        0.40286636, 0.        , 0.        , 0.        , 0.        ,
        0.24266547, 0.11527033, 0.24266547, 0.        , 0.        ,
        0.        , 0.        , 0.72799642, 0.        , 0.        ,
        0.24266547, 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.30652086,
        0.5680354 , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.5680354 ,
        0.        , 0.26982671, 0.        , 0.        , 0.        ,
        0.30652086, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.30652086, 0.        ]])

In [40]:
import pandas as panda

dataframe = panda.read_csv("E:\Project Learnings\Ecommerce_data.csv")

dataframe.head()

<>:3: SyntaxWarning: invalid escape sequence '\P'
<>:3: SyntaxWarning: invalid escape sequence '\P'
C:\Users\pilot\AppData\Local\Temp\ipykernel_21100\1489937517.py:3: SyntaxWarning: invalid escape sequence '\P'
  dataframe = panda.read_csv("E:\Project Learnings\Ecommerce_data.csv")

                                                Text                   label
0  Urban Ladder Eisner Low Back Study-Office Comp...               Household
1  Contrast living Wooden Decorative Box,Painted ...               Household
2  IO Crest SY-PCI40010 PCI RAID Host Controller ...             Electronics
3  ISAKAA Baby Socks from Just Born to 8 Years- P...  Clothing & Accessories
4  Indira Designer Women's Art Mysore Silk Saree ...  Clothing & Accessories

In [41]:
dataframe.label.value_counts()

label
Household                 6000
Electronics               6000
Clothing & Accessories    6000
Books                     6000
Name: count, dtype: int64

In [42]:
dataframe["label_number"] = dataframe.label.map({
    "Household": 0,
    "Books": 1,
    "Electronics": 2,
    "Clothing & Accessories": 3
})

dataframe.head()

,Text,label,label_number
0,Urban Ladder Eisner Low Back Study-Office Comp...,Household,0
1,"Contrast living Wooden Decorative Box,Painted ...",Household,0
2,IO Crest SY-PCI40010 PCI RAID Host Controller ...,Electronics,2
3,ISAKAA Baby Socks from Just Born to 8 Years- P...,Clothing & Accessories,3
4,Indira Designer Women's Art Mysore Silk Saree ...,Clothing & Accessories,3

In [43]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    dataframe.Text,
    dataframe.label_number,
    test_size=0.2,
    random_state=1,
    stratify=dataframe.label_number
)

In [44]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report

classifier = Pipeline([
    ("vectorizer_tfidf", TfidfVectorizer()),
    ("KNN", KNeighborsClassifier())
])

classifier.fit(X_train, y_train)

y_prediction = classifier.predict(X_test)

print(classification_report(y_test,y_prediction))

              precision    recall  f1-score   support

           0       0.95      0.96      0.95      1200
           1       0.97      0.96      0.96      1200
           2       0.98      0.97      0.97      1200
           3       0.98      0.98      0.98      1200

    accuracy                           0.97      4800
   macro avg       0.97      0.97      0.97      4800
weighted avg       0.97      0.97      0.97      4800

In [45]:
from sklearn.naive_bayes import MultinomialNB

classifier = Pipeline([
    ("vectorizer_tfidf", TfidfVectorizer()),
    ("MultinomialNB", MultinomialNB())
])

classifier.fit(X_train, y_train)

y_prediction = classifier.predict(X_test)

print(classification_report(y_test,y_prediction))

              precision    recall  f1-score   support

           0       0.93      0.96      0.94      1200
           1       0.99      0.93      0.96      1200
           2       0.97      0.97      0.97      1200
           3       0.97      0.99      0.98      1200

    accuracy                           0.96      4800
   macro avg       0.96      0.96      0.96      4800
weighted avg       0.96      0.96      0.96      4800

In [46]:
from sklearn.ensemble import RandomForestClassifier

classifier = Pipeline([
    ("vectorizer_tfidf", TfidfVectorizer()),
    ("RandomForestClassifier", RandomForestClassifier())
])

classifier.fit(X_train, y_train)

y_prediction = classifier.predict(X_test)

print(classification_report(y_test,y_prediction))

              precision    recall  f1-score   support

           0       0.96      0.97      0.96      1200
           1       0.98      0.98      0.98      1200
           2       0.99      0.98      0.98      1200
           3       0.97      0.98      0.98      1200

    accuracy                           0.98      4800
   macro avg       0.98      0.98      0.98      4800
weighted avg       0.98      0.98      0.98      4800

In [47]:
import spacy
nlp = spacy.load("en_core_web_sm")

def preprocess(text):
    doc = nlp(text)

    pre_processed_tokens = []
    for token in doc:
        if token.is_stop or token.is_punct:
            continue
        pre_processed_tokens.append(token.lemma_)

    return " ".join(pre_processed_tokens)

In [ ]:
dataframe["preprocessed_text"] = dataframe["Text"].apply(preprocess)

In [52]:
dataframe.head()

,Text,label,label_number,preprocessed_text
0,Urban Ladder Eisner Low Back Study-Office Comp...,Household,0,Urban Ladder Eisner Low Study Office Computer ...
1,"Contrast living Wooden Decorative Box,Painted ...",Household,0,contrast live Wooden Decorative Box Painted Bo...
2,IO Crest SY-PCI40010 PCI RAID Host Controller ...,Electronics,2,IO Crest SY PCI40010 PCI RAID Host Controller ...
3,ISAKAA Baby Socks from Just Born to 8 Years- P...,Clothing & Accessories,3,ISAKAA Baby Socks bear 8 Years- Pack 4 6 8 12 ...
4,Indira Designer Women's Art Mysore Silk Saree ...,Clothing & Accessories,3,Indira Designer woman Art Mysore Silk Saree Bl...

In [55]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    dataframe.preprocessed_text,
    dataframe.label_number,
    test_size=0.2,
    random_state=1,
    stratify=dataframe.label_number
)

In [56]:
from sklearn.ensemble import RandomForestClassifier

classifier = Pipeline([
    ("vectorizer_tfidf", TfidfVectorizer()),
    ("RandomForestClassifier", RandomForestClassifier())
])

classifier.fit(X_train, y_train)

y_prediction = classifier.predict(X_test)

print(classification_report(y_test,y_prediction))

              precision    recall  f1-score   support

           0       0.97      0.97      0.97      1200
           1       0.99      0.98      0.98      1200
           2       0.99      0.98      0.98      1200
           3       0.98      0.99      0.98      1200

    accuracy                           0.98      4800
   macro avg       0.98      0.98      0.98      4800
weighted avg       0.98      0.98      0.98      4800